# Globbing in Python

### What is Globbing in programming ?

**Glob** is a term used to describe the expansion or the match of values returned when using wildcards, regular expressions, or other pattern matches.

Anytime you want to operate on a bunch of files that have similar names, you can use a **Glob** pattern to do it. Globbing is a  techinal term for matching files by name or type of the file. It is a kind of pattern matching for file names.

In Pyhton, to perform Globbing, we need to import following package.

In [1]:
import glob

### When to use Glob function ?

Suppose you have data stored in different files on daily basis. You want to read thses files into python dataframes and concatenate those frames into a single dataframe later. In such situation, you can use glob function to find files based on pattern.

We can use various Wildcards to specify a pattern we are looking for. A **Wildcard** is a symbol that will match any arbitrary number of characters. The astrick _*_ is a type of wildcard that matches any string. Contrast this with ? that will only allow us to match one character. This character can be any number between 0-9 or any letter between A-Z

For example:
- ' *.csv ' will match any file with type csv
- ' file_?.csv ' will match a file which starts with a name 'file' then an underscore and then any single character followed by a csv file extention.

The _glob_ function will return a python list of filenames that matched the pattern. We can then use this list to concatenate various dataframes into a single dataframe

### How to use glob function?

We have already imported _glob_ package as shown above.

We will use the glob function to look for all csv files by providing a pattern:  *.csv

I have 3 csv files with me. Each file has data of purchase history for a particular day by various customers. The file name indicates the date of shopping. First I will read each file separately and will show you the data contained in it.

In [2]:
#import pandas
import pandas as pd

In [3]:
df_23 = pd.read_csv('23rd_dec17.csv')
df_23

     Name        Item  Amount
0   Geeta  Tennis Bat    2000
1  Sindhu         Bag    1000
2   Meera       Books     500
3  Sameer   Medicines     350

In [4]:
df_24 = pd.read_csv('24rd_dec17.csv')
df_24

     Name       Item  Amount
0    Lata        Oil     150
1  Mohini      Soaps     200
2   Tejal  Cosmatics     354

In [5]:
df_25 = pd.read_csv('25th_dec17.csv')
df_25

     Name       Item  Amount
0   Seema  Bedsheets     500
1   Rohit    Shampoo     150
2  Sayali  Notebooks     300

We can avoid this repetition of reading each csv file by using glob method.

In [6]:
#specify a pattern of the file and pass it as a parameter into a glob function
csv_files = glob.glob('*.csv')

In [7]:
#print csv_files which is a list of filenames
print(csv_files)

['23rd_dec17.csv', '24rd_dec17.csv', '25th_dec17.csv']

We can even write a for loop to read each file in a list of dataframes and then we can concatinate them to create a final dataframe.

In [8]:
#intialize empty list that we will append dataframes to
list_data = []


#write a for loop that will go through each of the file name through globbing and the end result will be the list of dataframes
for filename in csv_files:
    data = pd.read_csv(filename)
    list_data.append(data)

In [9]:
#print list_data which is a list of dataframes
list_data

[     Name        Item  Amount
 0   Geeta  Tennis Bat    2000
 1  Sindhu         Bag    1000
 2   Meera       Books     500
 3  Sameer   Medicines     350,      Name       Item  Amount
 0    Lata        Oil     150
 1  Mohini      Soaps     200
 2   Tejal  Cosmatics     354,      Name       Item  Amount
 0   Seema  Bedsheets     500
 1   Rohit    Shampoo     150
 2  Sayali  Notebooks     300]

Now we can use this list of dataframes to concatenate into a single dataframe

In [10]:
pd.concat(list_data,ignore_index=True)

     Name        Item  Amount
0   Geeta  Tennis Bat    2000
1  Sindhu         Bag    1000
2   Meera       Books     500
3  Sameer   Medicines     350
4    Lata         Oil     150
5  Mohini       Soaps     200
6   Tejal   Cosmatics     354
7   Seema   Bedsheets     500
8   Rohit     Shampoo     150
9  Sayali   Notebooks     300

As you can see we have concatenated multiple dataframes into a single dataframe by using a glob function by avoiding the repetition of the same code block.