# Working with Relational Databases in Python

To earn your daily bread and butter as a Data Scientist, you need to interact with complex data structures such as Relational Databases.

** What is Relational Database ? **

Its a type of database that is based upon *relational model of data*, first described by Ted Codd in the late 1960. A Database consists of many Tables. These tables are linked to each other. Tables generally represent one entity type. Each row represents an instance of the Entity type. Each column represents an attribute. In this sense, a table is entirely analogous to a Dataframe.

Each row in a table contains a unique identifier known as Primary key which we can use to access a row in a question.

**Creating a database engine**

Now we want to get our data by using SQL i.e. Structured Query language. But before that we need to figure out how to connect to a database. We will be using a SQLite database because it is fast and simple.

There are many packages such as SQLite3 or SQLAlchemy which help us access SQLite database. We will use SQLAlchemy which works with many Relational Database Management Systems.

**Querying a database**

The term Querying means getting data from a databse. The 'Hello World' of SQL query is 'SELECT * from TableName' where TableName is name of any of the table in databse. This query returns all columns of all rows of table.

Workflow of SQL querying in python:
- Import packages and functions
- Create the database engine
- Connect to engine
- Query the database
- Save query results to a Dataframe
- Close the connection

In [33]:
#the first step is creating a connection engine.
from sqlalchemy import create_engine

#use create_engine() to fire up sql engine that will communicate our queries to database
engine = create_engine('sqlite:///Chinook.sqlite')

#create connection object
con = engine.connect()

#we would like to know the names of the tables the database contains
table_names = engine.table_names()
print(table_names)

['Album', 'Artist', 'Customer', 'Employee', 'Genre', 'Invoice', 'InvoiceLine', 'MediaType', 'Playlist', 'PlaylistTrack', 'Track']

In [34]:
#to query the databse, apply method .execute()
rs = con.execute("Select * from Album") 

#store the data in a dataframe
import pandas as pd

df = pd.DataFrame(rs.fetchall()) #fetchall returns all the rows.

In [35]:
#print head of the dataframe
print(df.head())

   0                                      1  2
0  1  For Those About To Rock We Salute You  1
1  2                      Balls to the Wall  2
2  3                      Restless and Wild  2
3  4                      Let There Be Rock  1
4  5                               Big Ones  3

AS one can see all the rows look good but the column names are not correct. To fix this you can write below command before closing the connection.

In [36]:
df.columns = rs.keys()

In [37]:
#Now again check the head and check for column names
df.head()

   AlbumId                                  Title  ArtistId
0        1  For Those About To Rock We Salute You         1
1        2                      Balls to the Wall         2
2        3                      Restless and Wild         2
3        4                      Let There Be Rock         1
4        5                               Big Ones         3

In [38]:
#close the connection
con.close()

The select query which I have written is very basic one. You may write complex queries in place of it containing clauses such as WHERE, JOIN, IF etc.

** The pandas way to query **

The above result can also be obtained by using built in function of pandas called 'read_sql_query()' by passing query you wish to make and the engine you wish to connect to.

In [39]:
engine = create_engine('sqlite:///Chinook.sqlite')
df2 = pd.read_sql_query("Select * from Album",engine)

THE POWER OF PANDAS !!!